# Assisgnment 3
## Top 10 CO2 Emitting Countries

### 1) Create a list with the names of the top 10 CO₂ emitting countries (in order by total emissions)

In [6]:
import pandas as pd

In [12]:
url = "https://edgar.jrc.ec.europa.eu/report_2025?vis=co2tot#emissions_table"
tables = pd.read_html(url)
df = tables[0]

In [13]:
print(f"Found {len(tables)} tables")

Found 1 tables

In [14]:
print (tables[0].head())

        Country      1990      2000      2005      2015      2020      2023  \
           unit  Mton CO2  Mton CO2  Mton CO2  Mton CO2  Mton CO2  Mton CO2
0          EU27   3805.52   3559.57   3685.78   3082.05   2638.41   2509.70
1  GLOBAL TOTAL  22660.10  25694.70  30015.90  36292.50  36209.90  39112.70
2   Afghanistan      2.91      1.01      1.28      8.43     12.14     11.65
3       Albania      6.65      3.23      4.15      4.88      4.57      4.22
4       Algeria     72.16     87.94    101.40    164.58    171.95    190.58

       2024      2024 %
   Mton CO2 % World Tot
0   2462.39        6.21
1  39632.70      100.00
2     12.07        0.03
3      4.24        0.01
4    186.36        0.47

In [15]:
print(df.head())

        Country      1990      2000      2005      2015      2020      2023  \
           unit  Mton CO2  Mton CO2  Mton CO2  Mton CO2  Mton CO2  Mton CO2
0          EU27   3805.52   3559.57   3685.78   3082.05   2638.41   2509.70
1  GLOBAL TOTAL  22660.10  25694.70  30015.90  36292.50  36209.90  39112.70
2   Afghanistan      2.91      1.01      1.28      8.43     12.14     11.65
3       Albania      6.65      3.23      4.15      4.88      4.57      4.22
4       Algeria     72.16     87.94    101.40    164.58    171.95    190.58

       2024      2024 %
   Mton CO2 % World Tot
0   2462.39        6.21
1  39632.70      100.00
2     12.07        0.03
3      4.24        0.01
4    186.36        0.47

In [20]:
top10_countries = df['Country'].head(10)
print(top10_countries)

                  unit
0                 EU27
1         GLOBAL TOTAL
2          Afghanistan
3              Albania
4              Algeria
5               Angola
6             Anguilla
7  Antigua and Barbuda
8            Argentina
9              Armenia

In [36]:
df.sorted = df.sort_values(by=('2024', 'Mton CO2'), ascending=False)

In [40]:
print(df.head())

        Country      1990      2000      2005      2015      2020      2023  \
           unit  Mton CO2  Mton CO2  Mton CO2  Mton CO2  Mton CO2  Mton CO2
0          EU27   3805.52   3559.57   3685.78   3082.05   2638.41   2509.70
1  GLOBAL TOTAL  22660.10  25694.70  30015.90  36292.50  36209.90  39112.70
2   Afghanistan      2.91      1.01      1.28      8.43     12.14     11.65
3       Albania      6.65      3.23      4.15      4.88      4.57      4.22
4       Algeria     72.16     87.94    101.40    164.58    171.95    190.58

       2024      2024 %
   Mton CO2 % World Tot
0   2462.39        6.21
1  39632.70      100.00
2     12.07        0.03
3      4.24        0.01
4    186.36        0.47

In [27]:
print(df.columns)

MultiIndex([('Country',        'unit'),
            (   '1990',    'Mton CO2'),
            (   '2000',    'Mton CO2'),
            (   '2005',    'Mton CO2'),
            (   '2015',    'Mton CO2'),
            (   '2020',    'Mton CO2'),
            (   '2023',    'Mton CO2'),
            (   '2024',    'Mton CO2'),
            ( '2024 %', '% World Tot')],
           )

In [41]:
top10_countries = df.sorted[('Country', 'unit')].head(10).tolist()

In [42]:
print(top10_countries)

['GLOBAL TOTAL', 'China', 'United States', 'India', 'EU27', 'Russia', 'Japan', 'Iran', 'Indonesia', 'International Shipping']

In [57]:
exclude_list = ['EU27', 'International Transport', 'International Shipping', 
                'International Aviation', 'World', 'OECD', 'Non-OECD', 'GLOBAL TOTAL']

In [58]:
print(top10_countries)

['GLOBAL TOTAL', 'China', 'United States', 'India', 'Russia', 'Japan', 'Iran', 'Indonesia', 'Saudi Arabia', 'South Korea']

In [59]:
df_countries_only = df.sorted[~df.sorted[('Country', 'unit')].isin(exclude_list)]

In [60]:
top10_countries = df_countries_only[('Country', 'unit')].head(10).tolist()

In [61]:
print(top10_countries)

['China', 'United States', 'India', 'Russia', 'Japan', 'Iran', 'Indonesia', 'Saudi Arabia', 'South Korea', 'Germany']

### 2) Have Python tell you how many countries there are by examining your list

In [62]:
num_countries = len(top10_countries)
print(f"Number of countries: {num_countries}")

Number of countries: 10

In [63]:
num_countries = len(df_countries_only)

In [65]:
print(f"Total countries in dataset: {num_countries}")

Total countries in dataset: 208

### 3) Use slicing to display the first three countries (the top emitters)

In [66]:
top_three = top10_countries[:3]

In [67]:
print(top_three)

['China', 'United States', 'India']

### 4) Iterate through your countries and print the country name only if it has an a in the name

In [68]:
print("Countries with 'a' in their name:")
for country in top10_countries:
    if 'a' in country.lower():
        print(country)

Countries with 'a' in their name:
China
United States
India
Russia
Japan
Iran
Indonesia
Saudi Arabia
South Korea
Germany

## Dictionaries

### 1) Now create a dictionary that maps each country name to its annual CO₂ emissions

In [75]:
co2_emissions = dict(zip(df_countries_only[('Country', 'unit')], df_countries_only[('2024', 'Mton CO2')]))
print(co2_emissions)

{'China': 13124.7, 'United States': 4632.16, 'India': 3153.83, 'Russia': 2009.15, 'Japan': 972.27, 'Iran': 828.99, 'Indonesia': 812.2, 'Saudi Arabia': 652.51, 'South Korea': 588.01, 'Germany': 579.94, 'Canada': 577.97, 'Brazil': 491.47, 'Mexico': 475.99, 'Türkiye': 460.03, 'South Africa': 440.17, 'Viet Nam': 430.82, 'Australia': 383.4, 'Italy, San Marino and the Holy See': 299.23, 'Malaysia': 295.95, 'United Kingdom': 292.42, 'Egypt': 291.64, 'Thailand': 283.81, 'Taiwan': 280.49, 'Poland': 276.06, 'France and Monaco': 274.45, 'Kazakhstan': 258.8, 'Iraq': 238.67, 'Spain and Andorra': 220.08, 'Pakistan': 203.99, 'United Arab Emirates': 200.56, 'Algeria': 186.36, 'Argentina': 183.27, 'Philippines': 174.11, 'Uzbekistan': 148.54, 'Qatar': 135.27, 'Nigeria': 131.91, 'Bangladesh': 124.19, 'Netherlands': 118.79, 'Ukraine': 118.48, 'Kuwait': 115.93, 'Oman': 98.51, 'Venezuela': 96.41, 'Colombia': 95.08, 'Belgium': 86.65, 'Turkmenistan': 81.41, 'Chile': 77.82, 'Czechia': 77.75, 'Romania': 70.88, 'Morocco': 70.04, 'Peru': 69.27, 'North Korea': 66.24, 'Libya': 63.95, 'Singapore': 58.87, 'Austria': 58.03, 'Israel and Palestine, State of': 57.67, 'Serbia and Montenegro': 55.58, 'Belarus': 54.22, 'Greece': 52.51, 'Ecuador': 47.96, 'Hungary': 42.63, 'Norway': 40.0, 'Azerbaijan': 38.89, 'Bahrain': 37.97, 'Sweden': 37.77, 'Portugal': 35.56, 'Hong Kong': 34.62, 'Dominican Republic': 34.22, 'Bulgaria': 34.19, 'Switzerland and Liechtenstein': 33.73, 'Ireland': 32.57, 'Tunisia': 32.18, 'New Zealand': 31.81, 'Syria': 31.45, 'Myanmar/Burma': 31.36, 'Finland': 31.11, 'Slovakia': 29.89, 'Bolivia': 28.44, 'Angola': 28.1, 'Mongolia': 27.66, 'Trinidad and Tobago': 26.79, 'Laos': 26.06, 'Denmark': 25.57, 'Ghana': 24.17, 'Jordan': 24.14, 'Sri Lanka': 23.33, 'Sudan and South Sudan': 21.87, 'Kenya': 21.64, 'Tanzania': 21.34, 'Cuba': 21.0, 'Bosnia and Herzegovina': 20.41, 'Guatemala': 20.37, 'Cambodia': 19.44, 'Ethiopia': 19.36, 'Côte d’Ivoire': 18.81, 'Croatia': 18.68, 'Nepal': 15.89, 'Puerto Rico': 15.43, 'Senegal': 14.2, 'Georgia': 13.47, 'Slovenia': 13.33, 'Lithuania': 12.97, 'Zimbabwe': 12.86, 'Panama': 12.37, 'Honduras': 12.29, 'Afghanistan': 12.07, 'Zambia': 11.57, 'Lebanon': 11.0, 'Kyrgyzstan': 10.75, 'Estonia': 10.65, 'Yemen': 10.58, 'Cameroon': 10.29, 'Mozambique': 10.11, 'Tajikistan': 9.77, 'El Salvador': 9.54, 'Brunei': 9.37, 'Uruguay': 8.7, 'Congo': 8.46, 'Costa Rica': 8.38, 'Uganda': 8.25, 'Moldova': 8.21, 'Jamaica': 8.07, 'Paraguay': 8.03, 'Armenia': 7.49, 'Mali': 7.41, 'Cyprus': 7.34, 'North Macedonia': 7.3, 'Luxembourg': 7.15, 'Benin': 7.05, 'Botswana': 6.9, 'Latvia': 6.81, 'Burkina Faso': 6.48, 'Democratic Republic of the Congo': 6.21, 'Nicaragua': 5.74, 'Papua New Guinea': 5.47, 'Guinea': 5.21, 'Gabon': 5.2, 'Mauritania': 5.01, 'New Caledonia': 5.0, 'Equatorial Guinea': 4.83, 'Malawi': 4.79, 'Madagascar': 4.68, 'Mauritius': 4.41, 'Albania': 4.24, 'Guyana': 3.79, 'Namibia': 3.65, 'Haiti': 3.51, 'Iceland': 3.29, 'Niger': 3.21, 'Chad': 2.89, 'Réunion': 2.67, 'Togo': 2.63, 'Suriname': 2.58, 'Curaçao': 2.39, 'Rwanda': 2.31, 'Maldives': 1.88, 'Malta': 1.81, 'Macao': 1.73, 'Bhutan': 1.59, 'Fiji': 1.51, 'Palau': 1.47, 'Sierra Leone': 1.46, 'Bahamas': 1.46, 'Guadeloupe': 1.15, 'Eswatini': 1.09, 'Martinique': 1.08, 'Lesotho': 1.0, 'French Polynesia': 0.97, 'Burundi': 0.97, 'Djibouti': 0.89, 'Seychelles': 0.88, 'Liberia': 0.87, 'Somalia': 0.87, 'Eritrea': 0.78, 'Barbados': 0.71, 'Timor-Leste': 0.7, 'Cabo Verde': 0.68, 'Gibraltar': 0.64, 'Greenland': 0.59, 'Aruba': 0.56, 'The Gambia': 0.49, 'Comoros': 0.45, 'Belize': 0.39, 'French Guiana': 0.39, 'Cayman Islands': 0.37, 'Antigua and Barbuda': 0.36, 'Samoa': 0.35, 'Guinea-Bissau': 0.34, 'Central African Republic': 0.34, 'Saint Lucia': 0.31, 'Solomon Islands': 0.31, 'Western Sahara': 0.3, 'Vanuatu': 0.29, 'Bermuda': 0.27, 'Turks and Caicos Islands': 0.23, 'Grenada': 0.18, 'Tonga': 0.17, 'São Tomé and Príncipe': 0.15, 'Saint Kitts and Nevis': 0.14, 'Saint Vincent and the Grenadines': 0.13, 'Cook Islands': 0.1, 'British Virgin Islands': 0.09, 'Kiribati': 0.08, 'Dominica': 0.08, 'Saint Pierre and Miquelon': 0.03, 'Falkland Islands': 0.02, 'Anguilla': 0.02, 'Saint Helena, Ascension and Tristan da Cunha': 0.02, 'Faroes': 0.0}

In [78]:
co2_emissions = dict(zip(
    df_countries_only[('Country', 'unit')].head(10),
    df_countries_only[('2024', 'Mton CO2')].head(10)
))

print (co2_emissions)

{'China': 13124.7, 'United States': 4632.16, 'India': 3153.83, 'Russia': 2009.15, 'Japan': 972.27, 'Iran': 828.99, 'Indonesia': 812.2, 'Saudi Arabia': 652.51, 'South Korea': 588.01, 'Germany': 579.94}

### 2) Use your dictionary to look up the United States’ emissions

In [79]:
print(co2_emissions["United States"])

4632.16

### 3) Loop through the data and create a list of countries whose emissions are greater than 1,000 million metric tons per year

In [81]:
high_emitters = []
for country, emissions in co2_emissions.items():
    if emissions > 1000:
        high_emitters.append(country)

In [82]:
print("Countries with emissions > 1,000 Mton CO2:")
print(high_emitters)

Countries with emissions > 1,000 Mton CO2:
['China', 'United States', 'India', 'Russia']

### 4) Now add Brazil to your dictionary

In [86]:
co2_emissions["Brazil"] = 491

In [85]:
brazil_emissions = df.sorted[df.sorted[('Country', 'unit')] == 'Brazil'][('2024', 'Mton CO2')].values[0]

co2_emissions["Brazil"] = brazil_emissions
print(f"Brazil added with {brazil_emissions} Mton CO2")

Brazil added with 491.47 Mton CO2

In [87]:
print("Brazil" in co2_emissions)

True

## Functions

### 1) Write a function to convert temperature from kelvin to celsius

In [97]:
def kelvin_to_celsius(temp_k):
    """Convert temperature from Kelvin to Celsius"""
    return temp_k - 273.15

In [99]:
def celsius_to_kelvin(temp_c):
    """Convert temperature from Celsius to Kelvin"""
    return temp_c + 273.15

In [100]:
# Test kelvin to celsius
print(f"300 K = {kelvin_to_celsius(300)} °C")
print(f"273.15 K = {kelvin_to_celsius(273.15)} °C")

# Test celsius to kelvin
print(f"0 °C = {celsius_to_kelvin(0)} K")
print(f"25 °C = {celsius_to_kelvin(25)} K")

300 K = 26.850000000000023 °C
273.15 K = 0.0 °C
0 °C = 273.15 K
25 °C = 298.15 K

### 2) Write a function to convert temperature to fahrenheit

In [105]:
def celsius_to_fahrenheit(temp_c):
    """Convert temperature from Celsius to Fahrenheit"""
    return (temp_c * 9/5) + 32

In [107]:
def kelvin_to_fahrenheit(temp_k):
    """Convert Kelvin to Fahrenheit"""
    temp_c = kelvin_to_celsius(temp_k)
    return celsius_to_fahrenheit(temp_c)

### 3) Check that the outputs are sensible by trying a few examples

In [109]:
print(f"0 °C = {celsius_to_fahrenheit(0)} °F")
print(f"100 °C = {celsius_to_fahrenheit(100)} °F")

0 °C = 32.0 °F
100 °C = 212.0 °F

In [111]:
print(f"37 °C = {celsius_to_fahrenheit(37)} °F")

37 °C = 98.6 °F

In [112]:
print(f"0 K = {kelvin_to_celsius(0)} °C")

0 K = -273.15 °C

### 4) Now write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [120]:
def from_fahrenheit(temp_f, output_unit='celsius'):
    """ Convert temperature from Fahrenheit to Celsius or Kelvin """
    temp_c = (temp_f - 32) * 5/9
    
    if output_unit == 'celsius':
        return temp_c
    else: 
        return temp_c + 273.15

In [121]:
print(from_fahrenheit(32))
print(from_fahrenheit(212))

0.0
100.0

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters. Verify it gives sensible answers

In [122]:
def feet_inches_to_meters(feet, inches):
    """Convert height from feet and inches to meters"""
    total_inches = (feet * 12) + inches
    meters = total_inches * 0.0254
    return meters

In [123]:
print(f"6 feet 0 inches = {feet_inches_to_meters(6,0):.2f} meters")

6 feet 0 inches = 1.83 meters

In [124]:
print(f"5 feet 4 inches = {feet_inches_to_meters(5,4):.2f} meters")

5 feet 4 inches = 1.63 meters

In [125]:
print(f"5 feet 2 inches = {feet_inches_to_meters(5,2):.2f} meters")

5 feet 2 inches = 1.57 meters

### 6) Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [130]:
def meters_to_feet_inches (meters):
    """Convert Height from meters to Feet and Inches"""
    total_inches = meters / 0.0254
    feet = int(total_inches // 12)
    inches = total_inches % 12
    return feet, inches

In [144]:
feet, inches = meters_to_feet_inches(1.83)
print(f"1.83 meters = {feet} feet {inches:.1f} inches")

1.83 meters = 6 feet 0.0 inches

In [143]:
feet, inches = meters_to_feet_inches(1.53)
print(f"1.53 meters = {feet} feet {inches:.1f} inches")

1.53 meters = 5 feet 0.2 inches

### 7) Verify that the “round trip” conversion from and back to meters is consistent. Check for 3 different values of height in meters

In [145]:
test_height = [1.5, 1.75, 2.0]
print("Round-trip conversion test:")
print("="*50)

Round-trip conversion test:
==================================================

In [147]:
original = 1.5
feet, inches = meters_to_feet_inches(original)
back_to_meters = feet_inches_to_meters(feet, inches)
print(f"{original}m -> {feet}'{inches:.1f}\" -> {back_to_meters:.3f}m")

1.5m -> 4'11.1" -> 1.500m

In [148]:
original = 1.75
feet, inches = meters_to_feet_inches(original)
back_to_meters = feet_inches_to_meters(feet, inches)
print(f"{original}m → {feet}'{inches:.1f}\" → {back_to_meters:.3f}m")

1.75m → 5'8.9" → 1.750m

In [149]:
original = 2.0
feet, inches = meters_to_feet_inches(original)
back_to_meters = feet_inches_to_meters(feet, inches)
print(f"{original}m → {feet}'{inches:.1f}\" → {back_to_meters:.3f}m")

2.0m → 6'6.7" → 2.000m